{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>About</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/login.css' %}">
   </head>
   <body>
    {% include "feedback.html" %}
      <section>
        <nav class="navbar navbar-expand-lg nbg">
            <div class="container-fluid bg-transparent">
              <a class="navbar-brand text-white" href="{% url 'home' %}">
                <img src="{% static 'assets/images/CH_logos_white2.png' %}" alt="Bootstrap" height="50" ></a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse m-2" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item mx-1">
                     <a class="nav-link active text-white mb-1" aria-current="page" href="{% url 'home' %}"><span><i class="fa-solid fa-house mx-2"></i></span>Home</a>
                  </li>
                  <li class="nav-item mx-1">
                     <a class="nav-link active text-white  mb-1" aria-current="page" href="{% url 'contact' %}"><span><i class="fa-solid fa-handshake mx-2"></i></span>Contact</a>
                  </li>
                  <li class="nav-item mx-1">
                     <a class="nav-link active text-white  mb-1" aria-current="page" href="{% url 'About' %}"><span><i class="fa-solid fa-user mx-2"></i></span>About</a>
                  </li>
                  <li class="nav-item mx-1">
                   <a type="button" class="nav-link active text-white  mb-1" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                     <span><i class="fa-solid fa-comment mx-2"></i></span>Feedback</a>
                 </li>
               </ul>
               </div>
            </div>
        </nav>
      </section>
      <section class="d-flex justify-content-center align-items-center" style="min-height:77vh;background-color: #000000;">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="text-white" style="font-family: Sans-serif ;background-color:rgba(246, 249, 251, 0);padding:18px;color:black"><br><h2 style="font-family: Sans-serif ;color:rgb(255, 255, 255);">About Us !</h2>
                    <h2 style="font-family: Sans-serif ;text-align: center;">Welcome To <span id="W_Name1" >Career Harbor</span></h2>
                    <p style="text-align: justify;"><span id="W_Name2">Career Harbor</span> is a Professional <span id="W_Type1">Careers</span> Platform. Here we will only provide you with interesting content that you will enjoy very much. We are committed to provide you the best of <span id="W_Type2">Careers</span>, with a focus on reliability and <span id="W_Spec">Provides Careers Page links</span>. we strive to turn our passion for <span id="W_Type3">Careers</span> into a thriving website. We hope you enjoy our <span id="W_Type4">Careers</span> as much as we enjoy giving them to you.</p>
                    <p>We will keep on posting such valuable and knowledgeable information on our Website for all of you. Your love and support matters a lot.</p>
                    <p style="font-weight: bold; text-align: center;">Thank you For Visiting Our Site<br><br>
                    <span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a great day !</span></p></div><br><br>
              </div>
              <div class="container col-md-3 p-0">
                <img src="{% static 'assets/images/team3.png' %}" class="img-fluid w-100 rounded-bottom-5" alt="" srcset="">
              </div>
            </div>
          </div>
      </section>
      <section class="fixed-bottom position-relative">
        <footer class="footer pt-0 pb-0">
              <!--div class="waves"> 
                <div class="wave" id="wave1"></div>
                <div class="wave" id="wave2"></div>
                <div class="wave" id="wave3"></div>
                <div class="wave" id="wave4"></div>
                </div-->
              <ul class="social-icon">
                <li class="social-icon__item">
                    <a class="social-icon__link" href="#">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="#">
                      <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="#">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
              </ul>
              <ul class="menu">
                <li class="menu__item"><a class="menu__link" href="{% url 'home' %}">Home</a></li>
                <li class="menu__item"><a class="menu__link" href="{% url 'About' %}">About</a></li>
                <li class="menu__item"><a class="menu__link" href="{% url 'contact' %}">Contact</a></li>
              </ul>
              <p class="mx-2">&copy;2024 Thopstech Students | All Rights Reserved</p>
        </footer>
      </section>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/87e6c5b02a.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
   </body>
</html>